<footer class="footer">
    <section class="container">
        <p>karmabot is <a target="blank" href="https://github.com/hoshsadiq/karmabot"
                          title="GitHub Repo">open-source</a>. karmabot ♥︎ <a target="blank"
                                                                              href="https://milligram.github.io/"
                                                                              title="Milligram">Milligram</a>. Licensed
            under the <a target="blank" href="https://github.com/hoshsadiq/karmabot/#license" title="MIT License">MIT
                License</a>.</p>
    </section>
</footer>

</main>

<script src="/assets/javascripts/main.min.js"></script>

</body>
</html>
