{{ template "header.html" . }}

<section class="container">
    <h5 class="title">Session expired</h5>
    <p>Please re-authenticate by typing <code>karmabot web</code> and clicking on the provided link.</p>
</section>

{{ template "footer.html" . }}
